.list {
  margin: 30px;
}


li {
  padding: 5px;
}

ol li {
  list-style-type: upper-roman;
}

button {
     background: #0066A2;
     color: white;
     border-color: #0066A2;
     height: 50px;
     width: 100px;
     margin:10px;
     font: bold 15px arial, sans-serif;
     border-radius: 10px;
     cursor: pointer;
}