.footer-container {
    padding-top: 6vh;
    background-color: var(--color-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid rgb(231, 224, 224);
    
}

.footer-container p {
    margin-top: 3vh;
    text-align: center;
}

.footer-container p:last-child {
    margin-bottom: 2vh;
}