@import url("./nav.css");
@import url("./post.css");
@import url("./footer.css");

:root {
  --color-green: #4ba52f;
  --color-blue: #4887eb;
  --color-black: #000000;
  --color-gray: #a7a4a4;
  --color-light-gray: #dad4d4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.25%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  margin: 15px 0;
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.post-row {
  display: flex;
  margin: 0rem 8rem 7rem 6rem;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .post-row {
    display: flex;
    flex-direction: column;
  }
}


