.about {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 100%;
    background-color: var(--about-bg-color);
    color: black;
}

.about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 50px 200px;
    height: 50vh;
}

.button-container {
    display: flex;
    height: 10vh;
}
.contact-button {
    font-size: 2rem;
    width: 240px;
    height: 50px;
    border: 2px solid black;
    background-color: var(--about-bg-color);    
    margin: 0 auto 60px;
}