.main-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
    width: 100%;
    /*background-image: url('./public/images/apple-main.jpg');*/
    background-color: var(--introduction-bg-color);
    /*background-image: url('./apple-main.jpg');*/
    /*background-image: linear-gradient(red, yellow);*/
    color: white;
    opacity: 85%;
}

.main-introduction h5 {
    font-size: 2rem;
}

.main-introduction h1 {
    font-size: 4rem;
}

.main-introduction h3 {
    font-size: 3rem;
}

.button-contain {
    display: flex;
}

.main-introduction-buttons {
    font-size: 2rem;
    width: 180px;
    height: 50px;
    border: 2px solid white;
    margin: 10px 20px;
    color: white;
    background-color: var(--introduction-bg-color);
}