.portfolio-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    margin: 1vw 1vw;
    border: 2px solid white;
    background-color: #333;
    padding: 2vw 2vw;
}

.portfolio-card-title {
    padding-top: 10vh;
    font-size: 1.5rem;
}

.portfolio-card-content {
    font-size: 1.1rem;
    padding-top: 10px;
    padding-bottom: 40px;
}

.more-button {
    font-size: 1.5rem;
    width: 150px;
    height: 50px;
    border: 2px solid white;
    background-color: #333;   
    /*background-color: var(--portfolio-bg-color);   */
    color: white;
    margin: 40px auto;
}