html {
    font-size: 62.25%;
    font-family: 'Lato', sans-serif;
}

a {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.2rem;
}

p {
    color: var(--color-grey-dark);
    font-size: 1.2rem;

}

.container {
    width: 80%;
    max-width: 110rem;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.search_icon {
    width: 1.5rem;
}

.search_icon img {
    width: 90%;
}

.header-link {
    color: var(--color-grey-dark)
}

.main-heading {
    font-size: 3.5rem;
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
}


.articles {
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
}

.world-text,
.design-text {

    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.world-text {
    color: #226fb8;
}

.design-text {
    color: var(--color-design)
}

.article {
    width: 48%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 5px;
    border: 5px solid var(--color-grey);
}

.article-header {
    margin: 1rem 0;
}

.article-heading {
    font-size: 2rem;
}

.date {
    color: gray
}

.text-article {
    font-size: 1.4rem;
    color: #000;
    font-weight: 550;
}


.footer {
    width: 100%;
    height: 10rem;
    background-color: var(--color-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-top: 2px solid var(--color-grey-dark);

}

.footer-text {
    margin-top: 1rem;
    font-weight: bold;
    color: slategray
}

.system {
    color: var(--color-primary);
    text-decoration: underline;
}