.title { 
    font-size: 2rem;
    text-align: center;
}

.grid{
    display:grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    padding: 2rem;
}

.padding{
    padding: 2rem;
}

.innerPadding{ 
    padding-bottom: 1rem;
}

/***** Card ******/

.card--title{
    font-size: 1.5rem;
}

.card--focus{
    border-radius: 2rem;

}

.card--button {
    border: none;
    color: white;
    padding: 10px;
    border-radius: 0.5rem;
}