.app-header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-content h1 {
  text-decoration: underline;
}

.header-content a {
  color: var(--light-text);
}
