.app-header {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 3rem;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header__content-title h1 {
  text-decoration: underline;
}

.header__content-subscribe a {
  color: var(--light-text);
}

.header__content-icon img {
  width: 3rem;
}
