:root {
  --color-primary: cornflowerblue;
  --color-secondary: #008000;
  --color-border: #c6bfbf;
  --light-text: #808080;

  --heading-h1: 3.5rem;
  --heading-h2: calc(var(--heading-h1) / 1.2);
  --heading-h3: calc(var(--heading-h2) / 1.2);
  --heading-h4: calc(var(--heading-h3) / 1.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.25%; /*regular font size = 16*/
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6rem;
}

a {
  color: var(--color-primary);
}

ul,
ol {
  padding-left: 3.5rem;
}

hr {
  background-color: var(--color-border);
  height: 1px;
  border: none;
}

figcaption {
  text-align: center;
  padding-bottom: 3rem;
  font-style: italic;
}
