:root {
  --color-primary: #0000ff;
  --color-secondary: #008000;
  --color-border: #c6bfbf;
  --light-text: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.25%; /*regular font size = 16*/
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6rem;
}

a {
  color: var(--color-primary);
}

/* app layout */
.app-container {
  /* max-width: 1100px;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  overflow: hidden;
}

/* blog layout */
.blog-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;
}

.blog-row {
  display: flex;
  flex-direction: row;
}
