@media (max-width: 730px) {
  /* blog */
  .blog-container {
    grid-template-columns: auto;
  }

  /* post */
  .post-container {
    grid-template-columns: auto;
  }

  .post__button {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .post__aside-about,
  .post__aside-archive {
    margin-bottom: 3rem;
  }
}
