.post__header {
  padding-bottom: 3rem;
}

.post__header h1 {
  font-size: var(--heading-h1);
}

.post__header h1,
.post__content h2,
.post__content h3,
.post__aside h4 {
  padding-bottom: 0.5rem;
}

.post__content h2 {
  font-size: var(--heading-h2);
}
.post__content h3 {
  font-size: var(--heading-h3);
}

.post__publish {
  color: var(--light-text);
}

.post__aside h4 {
  font-size: var(--heading-h4);
}

.post__aside-about,
.post__aside-archive {
  margin-bottom: 5rem;
}

.post__aside-archive,
.post__aside-elsewhere {
  display: flex;
  flex-direction: column;
}

.post__button {
  margin: 5rem 0;
}
