/* .navigation {
    position: absolute;
    width: 100%;
    padding: 10px 0px;
    background: linear-gradient(rgba(20, 20, 20, 0.1), rgba(20, 20, 20, 0.1));
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.primary-nav {
    padding-right: 50px;
}

.primary-nav li {
    display: inline-block;
    margin: 0px 20px;
    color: white;
    font-size: 13pt;
} */