.container-post {
  width: 40rem;
  margin-left: 3rem;
}

.blog-post p {
  margin: 1rem 0;
  line-height: 1.4rem;
}

.blog-post-nullam {
  border: 2px solid #e5e5e5;
  padding-bottom: 1rem;
}

.blog-heading p {
  line-height: 1.4rem;
  margin: 0.3rem 0 1rem 0;
}

.blog-sub-heading-one,
.blog-sub-heading-two {
  line-height: 1.4rem;
}

.blog-sub-heading-one h3,
.blog-sub-heading-two h3 {
  margin: 1rem 0;
}

.blog-sub-heading-one-example {
  border: 2px solid #e5e5e5;
  font-weight: 500;
  margin: 1rem 0;
}

.blog-sub-heading-two ul,
.blog-sub-heading-two ol {
  padding: 1rem 2.3rem;
  line-height: 1.5rem;
}
