.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 2rem;
}

.navbar h1 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  text-decoration: underline;
}

.navbar a,
.navbar h6 {
  font-size: 1.2rem;
  color: #a4a4a4;
}
