.buttons-post {
  display: flex;
  padding: 5rem 3rem;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: white;
  cursor: pointer;
}
.button-old {
  border: 2px solid #1e90ff;
  color: #1e90ff;
}

.button-new {
  border: 2px solid #dbdbdb;
  color: #d3d3d3;
  margin-left: 4px;
}

@media (max-width: 725px) {
  .buttons-post {
    justify-content: space-around;
  }
}
