.card_container {
  border-radius: 10px;
  margin: 10px;
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .card_container {
    width: 100%;
  }
}

.border_black {
  border: 1px black solid;
  box-shadow: 5px 10px black;
}

.border_red {
  border: 1px red solid;
  box-shadow: 5px 10px red;
}

.border_blue {
  border: 1px blue solid;
  box-shadow: 5px 10px blue;
}

.border_green {
  border: 1px green solid;
  box-shadow: 5px 10px green;
}

