:root {
  --height-header: 60px;
  --height-todolist: 300px;
  --height-todolist-header: 30px;

  --width-todolist: 700px;

  --color-green: rgb(121, 226, 107);
  --color-red-button: rgb(207, 107, 107);
  --color-red-li-hover: rgb(172, 22, 8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}