.card {
    position: relative;
    border: 5px solid var(--color-light-grey);
    padding:60px;
    margin: 20px;
    grid-gap: 30px;
    border-radius: 5px;
}
#label-word {
    color: blue;
}
#label-design {
    color: green;
}
h4 {
    color: grey;
}
/* .design {
   
} */