:root {
    --color-blue: #1fa0ae;
    --color-black: #000;
    --color-gray: #a6a6a6;
    --color-font: #3c3163;
}

.homepage-card {
    border-radius: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.homepage-card__image {
    height: 50%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/cover.jpg);
    background-size: cover;
    border-radius:16px 16px 0 0;
}

.homepage-card__wrapper {
    border-radius:0 0 16px 16px;
    color: var(--color-font);
    text-decoration: none;
    height: 50%;
    padding: 16px;
    display: grid;
}

.homepage-card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
}

.homepage-card p {
    margin-top: 0.5em;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.homepage-card a {
    margin-top: 0.5em;
    border: none;
    padding: 4px;
    border-radius: 4px;
    color:white;
    background-color: var(--color-font);
}

.homepage-card__wrapper a:hover {
    cursor: pointer;
}

@media(max-width: 500px) {
    .homepage-card__wrapper {
        height: 100%;
    }
}