.aboutMe {
  height: 800px;
  background: linear-gradient(
      rgba(225, 225, 225, 0.94),
      rgba(225, 225, 225, 0.94)
    ),
    url(../images/aboutbackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

  color: balck;
  padding: 20px 200px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
}

.aboutMe-head {
  text-align: center;

  display: flex;
  flex-direction: column;
}

.aboutMe-content {
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#btn {
  color: black;
  border: 2px solid black;
}

#btn:hover {
  background-color: black;
  color: white;
}
