.contact {
  height: 800px;
  background-color: #3a3a3a;
  color: white;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-head {
  flex-basis: 20%;
  text-align: center;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-body {
  flex-basis: 80%;
  padding: 20px;
  margin: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.contact-content {
  flex-basis: 40%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.contact-content div {
  height: fit-content;
  margin: 10px;
}

.contact-content li {
  height: fit-content;
}

.contact-form {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.contact-form * {
  height: 20px;
}

.form-names {
  /* flex-basis: 20%; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.form-names * {
  flex-basis: 45%;
}

.contact-form * {
  height: 30px;
  margin: 10px 0 10px;
}

.contact-form textarea {
  height: 80px;
}

#form-btn {
  flex-basis: 10%;
  margin-top: 80px;
  background-color: transparent;
}

#form-btn:hover {
  color: black;
  background-color: white;
}
