.footer {
  height: 400px;
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

.footer-ex-links {
  flex-basis: 30%;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.footer-ex-links a {
  height: 30px;
  width: 30px;
  margin: 50px 50px 20px;
  background-color: grey;
}

.footer-ex-links a :hover {
  background-color: white;
}

.footer-bottom {
  flex-basis: 60%;
  padding-bottom: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.footer-bottom * {
  height: fit-content;
}
