.header {
  height: 50px;
  background-color: black;
  color: white;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  flex-basis: 10%;
}

.header-navbar {
  flex-basis: 40%;

  display: flex;
  flex-direction: row;
}

.header-navlink {
  display: flex;
  align-items: center;
  justify-content: center;
}
