.portfolio {
  height: 800px;
  background-color: grey;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.portfolio-head {
  flex-basis: 20%;
}

.portfolio-cards {
  flex-basis: 60%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.portfolio-card {
  flex-basis: 30%;
  height: 400px;
  border: 1px solid balck;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.portfolio-foot {
  flex-basis: 20%;
}

#card1 {
  background-image: url(../images/luvtalklogo.png);
}

#card2 {
  background-image: url(../images/bboytimeline.jpg);
}

#card3 {
  background-image: url(../images/mlbproject.png);
}
