/* add margin to aviod card border overlap */
.content__card{
    display: flex;
    width: 500px;
    height: 400px;
    margin: 1rem;
    padding: 1rem;
    border: 3px solid white;
    flex-direction: column;
    border-radius: 20px;
}
.card-red{
    border: 3px solid red;
    box-shadow: 5px 5px red;
  }
.card-blue{
    border: 3px solid blue;
    box-shadow: 5px 5px blue;
  }
.card-black{
    border: 3px solid black;
    box-shadow: 5px 5px black;
}
.card-green{
    border: 3px solid green;
    box-shadow: 5px 5px green;
}

.card__title{
    padding: 10px 0;
    height: 80px;
    font-family: 'Benne', sans-serif;
}

.card__content{
    padding: 5px;
    font-family: 'PT Serif', sans-serif;
    overflow: auto;
}

/* margin-top:auto makes the botton stick to the end of item */
.card__btn{
    cursor: pointer;
    width: 5rem;
    height: 3rem;
    margin: 5px 0;
    color: white;
    font-size: medium;
    border-style: none;
    border-radius: 5px; 
    margin-top: auto;
    opacity: 0.7;
    transition: 1s opacity;
}

.card__btn:hover{
    opacity: 1;
}


  