.box-container {
  margin: 25px;
  border: 1px solid #bcbcbc;
  padding: 25px;
  max-width: 40%;
}

.btn {
  padding: 10px;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
}

@media (max-width: 1050px) {
  .box-container {
    max-width: 30%;
  }
}

@media (max-width: 750px) {
  .box-container {
    max-width: 80%;
  }
}
