.navigation {
  position: absolute;
  width: 100%;
  padding: 20px 10px;
  background: rgba(20, 20, 20, 0.1);
}

.logo img {
  max-width: 50px;
  opacity: 0.8;
}
.primary-nav {
  padding-top: 10px;
  padding-right: 40px;
}

.primary-nav li {
  display: inline-block;
  margin: 0px 20px;
  color: white;
  font-size: 16pt;
  font-weight: 500;
}

.primary-nav a {
  color: white;
}

.primary-nav a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid white;
}
