*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Blue: rgb(66, 139, 202);
    --White: #ffffff;
    --Gray: rgb(50, 50, 50);
    --Green: rgb(92, 184, 92);
    --border-color: #7c7c7c8f;
    --fontSize: 20px;
    --Margin: 10px;
    /* rgb(123, 184, 233) */
}

h1 {
    text-align: center;
    color: var(--Gray);
}
a {
    color: var(--Blue);
}
.form {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50vw;
    margin: 0 auto;
    padding: 0 var(--Margin);
}

.form > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form__input,
.form__button {
    font-size: var(--fontSize);
    font-weight: bold;
    border: 1px solid var(--border-color);
    line-height: 22px;
    width: 100%;
    padding: 4px 8px;
    margin: var(--Margin) 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: border-color 300ms;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    -ms-transition: border-color 300ms;
    -o-transition: border-color 300ms;
}
.form__input:active,
.form__input:focus {
    outline: none;
    border-color: var(--Blue);
    box-shadow: 0 0 5px 1px var(--Blue);
}

div > .form__input:not(:first-child),
div > .form__button:not(:first-child) {
    margin-left: var(--Margin);
}
div > .form__input:not(:last-child),
div > .form__button:not(:last-child) {
    margin-right: var(--Margin);
}

.form > div > .form__input,
.form > div > .form__button {
    flex-grow: 1;
}

.checkboxSec {
    width: 40%;
}

.inline {
    display: inline-block;
}
.highlightText {
    display: inline-block;
    background-color: var(--Blue);
    color: #ffffff;
    font-weight: bold;
    padding: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#submit {
    color: white;
    background-color: var(--Blue);
}
#signin {
    color: white;
    background-color: var(--Green);
}
#checkbox {
    height: var(--fontSize);
    width: var(--fontSize);
    position: relative;
    left: calc(-2 * var(--fontSize));
    top: 2px;
}
#checkboxLabel {
    position: relative;
    left: calc(-2 * var(--Margin));
    font-size: calc(0.8 * var(--fontSize));
    font-weight: bold;
}
#agree {
    font-size: calc(0.8 * var(--fontSize));
}

@media only screen and (max-width: 600px) {
    .form > div {
        flex-direction: column;
    }
    div > .form__input:not(:first-child),
    div > .form__button:not(:first-child) {
        margin-left: 0;
    }
    div > .form__input:not(:last-child),
    div > .form__button:not(:last-child) {
        margin-right: 0;
    }
}
