:root {
  --color-blue: rgb(11, 194, 227);
  --color-green: rgb(10, 203, 65);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.25%;
  font-family: sans-serif;
}

body {
  background-color: rgb(215, 215, 215);
}