.app-main {
  padding-top: 3rem;
}

.main-row {
  display: flex;
}

.col-8 {
  width: calc(8 / 12 * 100%);
  padding: 1rem;
}

.col-4 {
  width: calc(4 / 12 * 100%);
  padding: 1rem;
}
/* Left Column  */
.left__title {
  color: rgb(12, 12, 12);
}

.left__date {
  color: rgb(180, 180, 180);
  margin-bottom: 1rem;
}

.left__text {
  margin: 1rem 0;
  color: rgb(95, 95, 95);
  font-size: 1.1rem;
}

.col-8 li {
  color: rgb(95, 95, 95);
  margin-left: 3rem;
}

.hr {
  border-top: 1px solid rgb(216, 213, 213);
}

.left__buttonSection {
  padding: 2rem;
}

.btn {
  padding: 0.5rem;
  border-radius: 2rem;
  width: 25%;
  font-size: 1.2rem;
  text-align: center;
}

.outline {
  border: 1px solid lightgrey;
  padding: 0.5rem;
}

.codeBlock {
  font-weight: 600;
}

/* Right Column */
.about {
  background-color: rgb(238, 238, 238);
  padding: 1rem;
}

.about__title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgb(95, 95, 95);
}

.about__text {
  font-size: 1.1rem;
  line-height: 1.3;
  color: rgb(116, 116, 116);
}

.archives,
.elsewhere {
  margin-top: 2rem;
  padding: 1rem;
}

.archives__title,
.elsewhere__title {
  margin-bottom: 1rem;
  color: rgb(95, 95, 95);
}

.archives li,
.elsewhere li {
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.3;
}

@media (max-width: 600px) {
  .main-row {
    flex-direction: column;
  }
  .col-8 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
    display: flex;
  }
}
