.app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__subscribe {
  font-size: 1.2rem;
  color: var(--color-gray);
}

.header__title {
  color: var(--color-95gray);
  text-decoration: underline;
  cursor: pointer;
}

.header__search {
  width: 2rem;
  cursor: pointer;
}

@media (max-width: 250px) {
  .header__search {
    width: 1.5rem;
  }
  .header__subscribe {
    font-size: 1rem;
  }
}

@media (max-width: 200px) {
  .app-header {
    justify-content: center;
  }
  .header__search {
    display: none;
  }
  .header__subscribe {
    display: none;
  }
}
