.blue {
  color: var(--color-blue);
}

.green {
  color: var(--color-green);
}

.old {
  border: 1px solid var(--color-lightskyblue);
  color: var(--color-lightskyblue);
}

.new {
  border: 1px solid var(--color-lightgray);
  color: var(--color-lightgray);
}
