* {
  box-sizing: border-box;
}

.header {
  text-align: center;
}

.header.blue {
  color: blue;
}
.header.black {
  color: black;
}
.header.red {
  color: red;
}
.header.green {
  color: green;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab {
  width: 35%;
  margin: 2rem;
  padding: 1rem;
}

.tab button {
  border-radius: 8px;
  padding: 8px 16px;
}

button {
  color: white;
}

button.blue {
  background-color: blue;
}

button.red {
  background-color: red;
}

button.black {
  background-color: black;
}

button.green {
  background-color: green;
}

.tab.active.blue {
  border: 3px solid blue;
}

.tab.active.red {
  border: 3px solid red;
}

.tab.active.black {
  border: 3px solid black;
}

.tab.active.green {
  border: 3px solid green;
}

@media only screen and (max-width: 600px) {
  .tab {
    width: 80%;
  }
}
