:root {
  --color-white: #ffffff;
  --color-green: #0b4d14; 
  --color--black: #000;
  --color--gray: #c6bfbf;
  --color--blue: #1f72cb;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.25%;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-white);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  width: 100%;
}

.row .header-nav__ul {
  padding: 0 15rem;
  background-color: var(--color--black);
  height: 5rem;
}

.row .header-nav__ul li {
  display: inline-block;
  width: 6%;
  font-size: 1.6rem;
  line-height: 5rem;
}

.row .header-nav__ul li a {
  color: var(--color-white);
  text-decoration: none;
}


.no-styled-ul {
  list-style-type: none;
}

.section-introduction {
  background-color: var(--color--gray);
}

.section-introduction h1 {
  padding: 3rem 12rem;
}

.section-introduction a {
  color: var(--color--blue);
}

.section-introduction p {
  padding: 0rem 12rem 3rem 12rem;
}

.section-examples {
  padding: 1rem 12rem 3rem 12rem;
}

.col-3 {
  width: calc(3 / 10 * 100%);
  display: inline-block;
  padding: 0 3rem 0 0
}

footer {
  position: absolute;
  bottom: 0;
  background-color: var(--color-green);
  width: 100%;
}

footer li {
  display: inline-block;
  padding: 5px;
  line-height: 5rem;
}

footer a {
  color: var(--color-white);
  text-decoration: none;
}

.footer-left {
  display: inline-block;
  padding-left: 12rem;
}

.footer-right {
  display: inline-block;
  padding-left: 80rem;
}