.app-header {
  position: static;
  display: flex;
  justify-content: center;
  margin: 2% 10% 2% 10%;
  align-items: baseline;
}

.header__left {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.header__center {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  font-family: "Times New Roman";
}

.header__right {
  display: inline-block;
  width: 100%;
  text-align: right;
}
