.projects {
    background-color: #6c6b70;
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 4rem 3rem;
  }
  .projects__holder{
    display: flex;
    width: 100%;
    margin: 2rem auto 3rem;
  }

  .holder__project{
    width: 30%;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
  }

  .projects h1,
  .projects h3 {
    font-family: "Source Sans Pro", Arial, sans-serif;
  }
  .projects p {
    font-family: "Roboto", Helvetica, serif;
    padding: 0 10px;
  }
  
  .projects-header-quote {
    font-style: italic;
  }
  
  .luvtalk-project {
    background: linear-gradient(
      rgba(0, 0, 0, 0.85), 
      rgba(0, 0, 0, 0.85)),
      url(../../bgimages/luvtalklogo.png);
    background-position: center center;
  }
  
  .personal-website-project {
    background: linear-gradient(
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)),
      url(../../bgimages/logo.svg);
    background-position: center center;
  }
  
  .strike-zone-project {
    background: linear-gradient(
      rgba(0, 0, 0, 0.85), 
      rgba(0, 0, 0, 0.85)),
      url(../../bgimages/mlbproject.png);
    background-position: center center;
  }
  

  .project-more-info .btn-border,
  .see-more-button .btn-border{
    background-color: transparent;
    color: white;
    font-family: "Roboto", Helvetica, serif;
    font-size: 15pt;
    border-radius: 0;
    border: 2px solid white;
  }

  .project-more-info {
    text-align: center;
    margin-left: auto;
  }

  .project-more-info .btn{
    width: 25rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
  }

  .see-more-button .btn{
    padding: 0.5rem 1.5rem ;
  }
  
  
  .project-more-info .btn-border:hover{
    transition: all 0.5s;
    color: black;
    border: 2px solid white;
    font-weight: 500;
    background-color: white;
  }
  
  .see-more-button .btn-border:hover{
    transition: all 0.5s;
    color: black;
    border: 2px solid white;
    font-weight: 500;
    background-color: white;
  }


  @media screen and (max-width: 750px) {
    .projects__holder{
      flex-direction: column;
    }

    .holder__project{
      width: 80%;
    }
  }