.to-do-list-container {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

.to-do-list-item {
  font-family:'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

.to-do-list-btn {

}