.columns {
    max-width: 960px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: column;
}

.col-content {
    width: calc(100% - 150px);
}
.col-righter {
    width: 150px;
}

div[class^="col"] {
    position: relative;
}

.content {
    padding: 0 20px 0 20px;
}
.righter {
    padding: 0 20px 0 20px;
}