:root {
	--height-header: 100px;
	--height-todolist: 300px;
	--height-todolist-header: 30px;

	--color-teal: #008080;
	--color-grey: #f0eeee;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.header {
	position: fixed;
	background-color: var(--color-teal);
	height: var(--height-header);
	width: 100%;
	color: white;
	font-size: 2rem;
	text-transform: capitalize;
	line-height: var(--height-header);
	letter-spacing: 3px;
	padding-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search {
	height: 60px;
}
.search__input {
	background-color: #f0eeee;
	border: none;
	padding: 0 2rem;
	border-radius: 100px;
	width: 80%;
	transition: all 0.2s;
	margin-right: -3.25rem;
	line-height: 1.5;
}
.search__button {
	background-color: transparent;
	border: none;
}
.search__icon {
	color: grey;
}
.content {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-top: var(--height-header); */
	margin: var(--height-header) auto;
	width: 80%;
}
.searchResult {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.searchResult .search-message {
	text-align: center;
	font-size: 2rem;
	padding: 2rem;
	border-bottom: 1px solid var(--color-teal);
	width: 88%;
}
.album-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.album-container .card {
	margin: 1rem;
	flex: 0 0 10rem;
	text-align: center;
	border: 1px solid var(--color-teal);
	background-color: var(--color-grey);
	padding: 0.5rem;
}
