:root {
    --color-green: rgb(15, 131, 131);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    height: 100%;
    width: 100%;
}

.topBar {
    display: flex;
    padding: 2rem;
    justify-content: center;
    background-color: var(--color-green);

}

.topBar__input {
    width: 45%;
    height: 2rem;
    padding: 8px;
    border-style: none;
    outline: none;
    padding-left: 20px;
    border-radius: 20px;
}

#topBar__icon{
    position: relative;
    border-style: none;
    left: -30px;
    top: 6px;
}



.topBar__input:focus {
    width: 50%;
    transition: 0.5s;
}

.mainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 15px;
}

.mainBody__indicator{
    padding: 2rem;
    font-size: 1.8rem;
}

hr {
    width: 80%;
    color: var(--color-green);
}


.card {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    width: 10rem;
    height: 20rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden;
  }

.card__img {
    width: 100%; 
    height: auto;
}
.card__name {
    text-align: center;
    padding-top: 10px;
    height: auto;
    font-size: 1rem;
}