:root {
    --color-green: #0b4d14;
    --color-black: #000;
    --color-gray: #c6bfbf;
    --color-lightGray: #D3D3D3;
    --color-white: white;
    --color-grayWhite: #F6F6F6;
    --color-orange: orange;
    --color-blue: blue;
    --color-whiteGray: #DFDFDF;
}

.icon-white{
    color: white;
}