.header h1{
    font-family: 'Indie Flower', cursive;
    font-size: 200%;
}


.card-name-color-green, .card-name-color-blue{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.card-title{
    font-family: "Times New Roman", Times, serif;
    font-size: 160%;
    font-weight: bold;
}

.card-date{
    font-family: "Times New Roman", Times, serif;
    font-size: 90%;
}

.sidebar, .intro{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: italic;
}

.text-decoration{
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
}
