@import "blogs.css";
@import "head.css";
@import "post.css";

body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    margin: 2rem;
}

.about{
    background-color: #f8f8f8;
    padding: 1.5rem 1rem;
}

.date{
    font-family: Helvetica;
    color: #999; 
}

.hr{
    box-sizing: border-box;
    width: 100%;
    /* padding: 0rem 1000rem 0rem 0rem; */
}

.border{
    border: 0.15rem solid #E2E2E2;
}

.older-button {
    border-radius: 2rem;
    background-color: white;
    border-color: #2990f7;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: #2990f7;
}

.newer-button{
    border-radius: 2rem;
    background-color: white;
    border-color: #999;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}