u {
    font-family: inherit;
}

b { 
    font-family: inherit;
}

i {
    font-family: inherit;
}

.typography__category {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.typography__title {
    font-family: 'Times New Roman', Times, serif;
}

.typography__color--blue { 
    color: blue;
}

.typography__color--gray {
    color: lightslategray;
}

.typography__color--green { 
    color: green;
}

.typography__family--georgia {
    font-family: Georgia, serif;
}

.svg__color--gray{
    fill: lightslategray;
    width: 2rem;
    height: 2rem;
}

/* Article Typography CSS */
.article > h1 {
    font-size: 2.5rem;
}

.article > h2 {
    font-size: 2rem;
}

.article > h3 {
    font-size: 1.5rem;
}
