body {
    font-family: Calibri;
}

.signup {
    position: relative;
    width: 100%;
    max-width: 585px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.signup__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -3%;
}

input[class^="co"] {
    box-sizing: border-box;
    position: relative;
    font-size: 18px;
    padding: 12px;
    margin-bottom: 15px;
    margin-left: 6%;
    border-radius: 6px;
    border: 1px solid #afafaf;
}
/* Glowing Blue */
input[class^="co"]:focus {
    outline-width: 0;
    box-shadow: 0 0 6px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.col-6 {
    width: calc(6 / 12 * 585px - 6%);
}
.col-12 {
    width: calc(12 / 12 * 585px - 6%);
}

@media (max-width: 600px) {
    .col-md-12 {
        width: calc(12 / 12 * 100% - 9%);
    }
}


.signup__row--agreement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

.a-col-3 {
    width: calc(3 / 12 * 100%);
}
.a-col-9 {
    width: calc(9 / 12 * 100%);
    font-size: 15px;
}

#signup__span--register {
    display: inline-block;
    color: white;
    border-radius: 4px;
    background-color: rgb(32, 103, 255);
}

#signup__span--blue {
    color:rgb(32, 103, 255);
}

#signup__button--register, #signup__button--signin {
    box-sizing: border-box;
    position: relative;
    font-size: 18px;
    padding: 12px;
    margin-bottom: 15px;
    margin-left: 6%;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    color: white;
}
#signup__button--register {
    background-color: rgb(94, 145, 255);
}
#signup__button--signin {
    background-color: rgb(109, 192, 109);
}