/* reset CSS */
*,
*::before,
*::after{
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing:border-box;
}

/* setting of form */
form {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* setting of container */
.container{
    position: relative;
    width: 70%;
    height: 70%;
    border: 2px solid red;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

/* Sign up  */
.logInfo{
    font-family: sans-serif;
    text-align: center
}

/* input area */
input::placeholder {
    font-size: 16px;
}

.info input{
    border: 1px solid grey;
    border-radius: 3px;
    padding: 13px;
    margin: 5px auto;
    cursor: pointer;
}

.info__box {
    width: calc(100% - 20px)
}

.box--half {
    width: calc(1/2 * 100% - 12px)
}


/* aggrement div */
.aggrement{
    display: flex;
    flex-wrap: wrap;
}

.aggrement_check {
    width: 25%;
}
.aggrement__note{
    width: 70%;
    font-size: 13px;
    margin: 3px 0 3px auto;
}

.aggrement__register {
    border-radius: 3px;
    padding: 3px;
    color:white;
    background-color: skyblue;
    font-size: 13px;
    cursor: pointer;
}

.aggrement__term{
    color:rgb(50, 108, 131)
}

/* button div */
.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.buttons button {
    border-radius: 3px;
    padding: 5px;
    margin: 3px 3px;
    padding: 14px 28px;
    font-size: 16px;
    color:white;
    cursor: pointer;
    display: inline-block;
}

.buttons__register {
    background-color: skyblue;
    width: calc(1/2 * 100% - 12px)
}

.buttons__login {
    background-color: darkseagreen;
    width: calc(1/2 * 100% - 12px)
}


/* adjustment when window width less then 600px */
@media (max-width: 600px) {
    .container {
        width: 80%;
    }

    .box--half {
        width: calc(100% - 20px)
    }

    .buttons__register, .buttons__login {
        width: calc(100% - 20px);
    }

}