.search{
    padding: 3rem ;
    width: 80%;
    margin: auto;
}

.search__header{
    font-size: 40pt;
    font-weight: bold;
    padding-bottom:2rem;
}

.search__input{
    padding-left: 1rem;
    border-style: none;
    border-radius: 5px;
    width: 40%;
    min-width: 5rem; 
    height: 3rem;
    font-size: 12pt;
}

.search__notation{
    padding: 10px 5px;
}