.btn_black {
  margin: 8px;
  background-color: black;
  color: white;
}

.btn_blue {
  margin: 8px;
  background-color: blue;
  color: white
}

.btn_red {
  margin: 8px;
  background-color: red;
  color: white
}

.btn_green {
  margin: 8px;
  background-color: green;
  color: white
}

