.blog-container {
    box-sizing: border-box;
    font-family: sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.3em;
}

.blog-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

.header__left{
    text-align: left;
}

.header__center{
    text-align: center;
    font-size: 1.8rem;
}

.header__right{
    text-align: right;
}

.subscribtion-link{
    color: gray;
    font-size: 0.8rem;
}

h1.blog-title{
    text-decoration: underline;
    font-weight: bold;
}


footer.blog-footer{
    padding: 50px;
    text-align: center;
    font-size: 1r;
    background-color: rgb(250,249,249);
}

.blog-footer>div:first-child{
    color: gray;
}

a{
    color: rgb(116, 173, 255);
}
