main>.grid-container { 
  display: grid;
  column-gap: 20px;
  row-gap: 50px;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
}

.card {
  position: relative;
  border: 5px solid rgb(236, 237, 237);
  padding: 20px;
  height: 200px;
}

.card:hover {
  border: 1px solid rgb(236, 237, 237);
  box-shadow: 0 0 5px rgb(66, 139, 202);
}

p.card__world {
  color: rgb(107, 167, 255);
  font-weight: bold;
}

p.card__design {
  color: rgb(62, 174, 84);
  font-weight: bold;
}

header.card__title {
  font-weight: bold;
  font-size: 1.2rem;
}

p.card__date {
  color: rgb(159, 164, 170);
  font-size: 0.8rem;
}

p.card__content{
  overflow: hidden;
}

.card__footer {
  position: absolute;
  bottom:10px;
}
