.card {
  width: 15rem;
  height: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card-img {
  width: auto;
  height: 70%;
  border-radius: 10%;
}

.card-content {
  font-size: 1.5rem;
  line-height: 2rem;
}