*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    margin: 30px 0 30px 0;
    text-align: center;
    text-decoration: underline;
}

.row {
    /*position: relative;*/
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: 20px auto;
    padding: 0 20px 0 20px;
}

.blue,
.green {
    display: inline-block;
    border: 4px solid gray;
    padding: 20px;
}

.blue:hover,
.green:hover {
    box-shadow: 10px 5px 5px darkgray;
}

.blue .title {
    color: blue;
    margin-bottom: 5px;
}

.green .title {
    color: green;
    margin-bottom: 5px;
}

.date {
    color: darkgray;
}

.post-content {
    margin-bottom: 50px;
}

@media (max-width: 1600px) {
    .row {
        flex-direction: column;
    }

    .blue,
    .green {
        margin-bottom: 10px;
    }
}