.content-container{
  padding: 10px;
}

.grid-container {
  position:relative;
  display: grid;
  grid-template-columns: 50% 50%;
  top: 77px;
}

.grid-card {
  background-color: white;
  border: 2px solid rgb(198, 189, 189);
  margin: 10px;
  border-radius: 5px;
  padding:10px;
  box-shadow: 0.7rem 0.7rem 5px black;
}

.gri-card, p {
  padding: 10px 0px;
}
.grid-card-green {
  color: var(--color-green);
}

.grid-card-blue {
  color: var(--color-blue);
}

.grid-card-header {
  font-size: 2rem;
}

.grid-card-date {
  color: gray;
}

.grid-card-content {
  font-size: 1.2rem;
}

.grid-card-footer {
  padding-top: 40px;
  font-size: 1.2rem;
}

