.header-container {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.subscribe {
  padding-top: 20px;
}

a{
  color: var(--color-blue);
  font-size: 1.5rem;
  cursor: pointer;
}

.header h1 {
  font-size: 3rem;
  font-family: sans-serif;
}

.search-symbol {
  width:104.64px;
  padding: 20px;
}