.todolist {
  height: var(--height-todolist);
  width: var(--width-todolist);
  background-color: var(--color-green);
  box-shadow: 10px 10px 10px black;
  border-radius: 10px;
  overflow: hidden;
}

.todolist__header,
.todolist__input,
ul li {
  height: var(--height-todolist-header);
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  text-transform: capitalize;
  line-height: var(--height-todolist-header);
  letter-spacing: 1px;
  padding: 0 10px;
  user-select: none;
  list-style: none;
}

.todolist__header {
  font-size: 1.5rem;
  text-align: center;
}

.todolist__content {
  height: calc(var(--height-todolist) - var(--height-todolist-header) * 2);
  overflow: auto;
}