.summary {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../../images/architecture-2178604_1920-main1.jpg);
  background-attachment: fixed;
  background-attachment: center center;
  color: white;
  padding: 60px 30px;
}

.summar-flex {
  display: flex;
  justify-content: center;
}
.summary .row {
  padding: 50px 6%;
  width: 100%;
}

.summary h3 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
.summary p {
  font-family: 'Roboto', Helvetica, serif;
}
.summary {
  width: 100%;
}
.project-flex {
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projects {
  background-color: #59585d;
  padding: 50px;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
}
.projects-header-quote {
  margin-bottom: 20px;
}
.projects h1,
.projects h3 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
.projects p {
  font-family: 'Roboto', Helvetica, serif;
  padding: 0 10px;
}

.projects-header-quote {
  font-style: italic;
}
.project-one {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../../images/luvtalklogo.png);
  background-position: center center;
}
.project-two {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../../images/logo.svg);
  background-position: center center;
}
.project-three {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../../images/mlbproject.png);
  background-position: center center;
}

@media (max-width: 760px) {
  .projects-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80vw;
  }
  .summary-flex-media {
    display: flex;
    flex-direction: column;
  }
  .project-card-size {
  }

  .summar-flex {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
  }
}
