.item:hover {
  box-shadow: 2px 2px 1px rgb(26, 130, 165);
}

.item {
  box-sizing: border-box;
  list-style: none;
  border: solid 1px black;

  width: 100%;
  height: 30px;
  position: relative;
}

.item-title {
  width: 70%;
  position: absolute;
  left: 0%;
  text-align: left;
}

.item-btn {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 10%;
  height: 100%;
  margin: 0;
  border: none;
}
