:root {
  --color-title-blue: #4383f7;
  --color-title-green: #65ad64;
  --color-project-gray: #a9a9a9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

a {
  color: var(--color-title-blue);
  cursor: pointer;
}

h1 {
  text-align: center;
  margin: auto;
}

.headRow {
  height: 5rem;
  width: 50rem;
  /* border: black 1px solid; */
  position: relative;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50rem;
  /* border: black 1px solid; */

  /* align-items: center;
  margin: 0px auto; */

  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.subscribe {
  display: flex;
  position: fixed;
  left: 2ch;
  top: 50%;
  transform: translate(0, -50%);
}

#searchButton {
  position: fixed;
  right: 2ch;
  top: 50%;
  /* transform: translate(0, -50%); */
}

.projectBlock {
  width: 50%;
  /* border: black 1px solid;
  padding: 10px; */
}

.projectContainer {
  width: calc(100%-20px);
  height: 15rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 0.3rem gray inset;
  margin: 10px;
}

.projectTitle {
  font-style: italic;
}

.projectDate {
  font-size: 10px;
  color: var(--color-project-gray);
}

.projectContinue {
  position: fixed;
  bottom: 1rem;
}

.footText {
  text-align: center;
  margin: auto;
}

/* Second Page Start Part */
.leftColumn {
  width: 73%;
  /* border: black 1px solid; */
}

.rightColumn {
  width: 23%;
  margin-left: 4%;
  /* border: black 1px solid; */
}

.textContainer {
  width: 100%;
  margin: 10px 0px;
}

.line {
  width: 100%;
  border: var(--color-project-gray) 0.5px solid;
  margin: auto;
}

.ap {
  color: black;
}

.buttonRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0px;
}

.buttonRow > button {
  margin-left: 1rem;
  width: 6rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: white;
}

.lastButton {
  color: var(--color-title-blue);
  border: var(--color-title-blue) 1px solid;
}

.nextButton {
  color: var(--color-title-green);
  border: var(--color-title-green) 1px solid;
}

.postInput {
  height: 100%;
  width: 70%;
  text-align: initial;
  margin-left: 5%;
  border-right: 0px;
}

.buttonRow > .postButton {
  height: 100%;
  width: 20%;
  margin: 0px;
  margin-right: 5%;
  border-radius: 0px;
  border-left: 0px;
  color: #4383f7;
  font-weight: bold;
}

.aboutBlock {
  width: 100%;
  height: auto;
  background-color: #dadde0;
}

.aboutBlock > span {
  font-size: x-small;
  line-height: 1%;
}

.rightBlock {
  width: 100%;
  height: auto;
  margin: 10px 0px;
}

@media (max-width: 1000px) {
  .projectBlock-2 {
    width: 100%;
  }
  .projectContinue-2 {
    position: relative;
    bottom: -2.5rem;
  }
}
