.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: deepskyblue;
  text-decoration: underline;
}

li {
  list-style: none;
  height: fit-content;
}

.btn {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 40px;
  width: fit-content;
  height: fit-content;
}

.btn:hover {
  background-color: white;
  color: black;
}

.title0 {
  font-size: 800%;
}

.title1 {
  font-size: 250%;
}

.title2 {
  font-size: 180%;
}

.title3 {
  font-size: 130%;
}

.content1 {
  font-size: 100%;
}

.content2 {
  font-size: 80%;
}

.italic {
  font-style: italic;
}
