.main-leftsection {
  display: flex;
  flex-direction: column;
  flex: 75%;
}
.main-leftsection__text {
  margin-bottom: 3%;
}

.main-leftsection,
.main-rightsection {
  justify-content: space-between;
  align-items: flex-start;
}
.main-rightsection {
  flex: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rightsection-about {
  background-color: var(--color-gray);
  padding: 5px;
  margin-bottom: 30px;
}
.rightsection-archives {
  padding: 5px;
  margin-bottom: 30px;
}
.rightsection-elsewhere {
  padding: 5px;
  margin-bottom: 30px;
}
li {
  list-style: none;
}
h3,
h6 {
  margin-bottom: 5px;
}
p {
  margin-bottom: 5px;
}
.main-post {
  height: 70%;
  padding: 2%;
  margin: 0 5%;
  margin-top: 5%;
  margin-bottom: 6%;
  display: flex;
  font-size: 60%;
  flex-direction: row;
}
.main-leftsection__buttons {
  width: 30%;
}
.btn {
  background: none;
  border-radius: 30px;
  padding: 3%;
}

.btn-blue {
  border: 1px solid var(--color-blue);
  color: (--color-blue);
}
.btn-gray {
  border: 1px solid var(--color-gray);
}
