.footer {
  background-color: var(--color-gray);
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}
