.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 70px;
  padding: 0.8%;
  overflow: scroll;
}

.main-postcontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}
.main-postcontainer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-postcontainer__post {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gray);
  box-shadow: 2px 2px 2px rgb(158, 156, 156);
  padding: 2%;
  margin-bottom: 2%;
  width: 49%;
}

.link-continue {
  color: var(--color-blue);
}
.post-time {
  color: var(--color-graydark);
}
.post-category {
  margin-bottom: 15px;
}
.post-text {
  margin-bottom: 20px;
}
.header-subscribe,
.header-search__icon {
  color: var(--color-graydark);
}

@media (max-width: 700px) {
  .main-postcontainer {
    overflow: scroll;
  }
  .main-postcontainer__row {
    display: flex;
    flex-direction: column;
  }
  .main-postcontainer__post {
    margin-bottom: 3%;
    width: 100%;
  }
}
