@import url('./indexmain.css');
@import url('./detailpostmain.css');
@import url('./header.css');
@import url('./footer.css');
:root {
  --color-green: #4eeb63;
  --color-black: #000;
  --color-gray: #cfcccc;
  --color-blue: #3568f5;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 82.25%;
}
a {
  cursor: pointer;
}
.color-green {
  color: var(--color-green);
}
.color-blue {
  color: var(--color-blue);
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* =========Main========== */
.main {
  height: 100%;
  margin: 5% 3%;
}
