.main-postcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
}
.main-postcontainer__row {
  display: flex;
  flex-direction: row;
}
.main-postcontainer__post {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  box-shadow: 5px 5px 5px rgb(158, 156, 156);
  flex: 40%;
  margin: 0.5%;
  padding: 0.5%;
}

.link-continue {
  color: var(--color-blue);
}
.post-time {
  color: var(--color-gray);
}
.post-link {
  margin-top: 10px;
}

@media (max-width: 700px) {
  .main-postcontainer__row {
    display: flex;
    flex-direction: column;
  }
}
