:root {
  --color-green: #149225;
  --color-gray: #808080;
  --color-blue: #0000ff;
  --color-footer: #f9f9f9;
  --color-border: #eceded;
  --color-white: white;
  --color-black: black;
  --color-blogContent: #75777a;
  --color-about: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.blog_header {
  display: flex;
  padding: 2rem;
  text-decoration: underline;
  justify-content: space-between;
  align-items: center;
}

.subscribe a {
  color: gray;
}

.blog_article {
  display: flex;
  justify-content: space-evenly;
}

.left_box {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid var(--color-border);
  padding: 4rem;
  margin: 1.3rem;
  padding: 1.3rem 11rem 1.3rem 1.3rem;
}

.right_box {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--color-border);
  padding: 4rem;
  margin: 1.3rem;
  padding: 1.3rem 11rem 1.3rem 1.3rem;
}

.left_type {
  padding-bottom: 1.5rem;
  font-size: small;
  color: var(--color-blue);
}

.right_type {
  padding-bottom: 1.3rem;
  font-size: small;
  color: var(--color-green);
}

.left_header,
.right_header {
  font-size: x-large;
  font-weight: 600;
  padding-bottom: 0.33rem;
}

.left_date,
.right_date {
  font-size: small;
  color: var(--color-gray);
  padding-bottom: 0.33rem;
}

.left_content,
.right_content {
  font-size: 0.7rem;
  padding-bottom: 3rem;
}

.left_type,
.right_type {
  padding-bottom: 0.7rem;
}

.left_header,
.right_header {
  flex-grow: 3;
}

.left_link a {
  font-size: small;
  color: blueviolet;
  text-decoration: underline;
}

.footer {
  color: var(--color-gray);
  text-align: center;
  font-size: small;
  background: var(--color-footer);
}
.footer a {
  color: blueviolet;
  text-decoration: underline;
}
.footer .sponsor {
  padding: 2.5rem;
}

.footer div {
  padding: 0.7rem;
}

@media (max-width: 700px) {
  .wrapper {
    width: 100%;
    padding: 0 15%;
  }
  .blog_article {
    flex-direction: column;
  }
}
