.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 6rem;
    width: 100%;
    background-color: teal;
}

.search-box {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    background-color: #f0eeee;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 80%;
    transition: all .2s;
    margin-right: -3.25rem;
}

.search-button {
    border: none;
    background-color: #f0eeee;
}