:root {
  --icon-fb: url("../resources/icon/fbicon.png");
  --icon-tt: url("../resources/icon/tticon.png");
  --icon-ytb: url("../resources/icon/ytbicon.png");
  --icon-gg: url("../resources/icon/ggicon.png");
  --icon-sc: url("../resources/icon/scicon.png");
  --color-White: #fff;
  --color-Green: #0b4d14;
  --color-darkgreen: #008080;
  --color-Black: #000;
  --color-Gray: #c6bfbf;
  --color-transblack: #000000af;
  --color-papergray: #e5e9e9;
  --color-ink: #141a1d;
  --color-crimson: #ad252a;
  --color-skyblue: #44bfe4;
  --color-shinegreen: #38e070;
  --color-link: #747474;
  --color-textshadow: #8acdf3;
  --color-boxshadow: #0000007c;
  --size-Navbar: 8rem;
  --size-Footer: 16rem;
  --size-searchBoxWidth: 40vw;
  --size-searchBoxHeight: 3rem;
  --font-code: consolas, monaco, monospace;
}

.svg-menu-bar {
  width: 100%;
  height: 20%;
  rx: 15%;
}
